body {
  background: url(/photo/purple-light.png) center/cover;
  color: white; -webkit-text-stroke: 0.3px black; 
}

.logo {
  display: inline-block;
}

.logo h3 {
  margin: 0;
}

.title-page{
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(251, 214, 50);
}

.menu-icon {
  display: none;
}

.list-link, .logo {
  font-size: 1.5pc;
  margin: 14px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;

}

.navbar {
  /* background: rgba(191, 128, 255, 0.8); */
  background-color: rgb(225, 225, 225, 0.85);
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navbar a {
  color: black; /*dfd */
  transition: filter 0.2s ease;
}

.navbar a:hover {
  filter: brightness(0.9);
  text-shadow: rgb(255, 255, 255) 1px 0 3px;
}

@media only screen and (max-width: 790px) {
  .navbar:not(.vertical) .list-link.screen-sm-hidden {
    display: none;
  }

  .menu-icon div {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.3s;
  }

  .menu-icon.change #bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .menu-icon.change #bar2 {
    opacity: 0;
  }

  .menu-icon.change #bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .navbar .menu-icon {
    padding: 0 14px;
    display: block;
  }

  .navbar:not(.vertical) .menu-icon {
    flex-grow: 2;
  }

  .logo {
    flex-grow: 2;
  }

  .navbar.vertical {
    background: rgb(225, 225, 225, 0.85);
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    position: fixed;
    left: 0;
    top: 0;
    height: 90vh;
    padding: 10px;
  }

  .navbar.vertical .logo {
    display: none;
  }

  #my-face {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
  }
}

.container{
  display: flex;
  justify-content: center;
}

.front-text h1 {
  text-align: center;
  font-size: 3.3em;
  font-family: "Times New Roman", Times, serif;
  margin: 43px 0px 23px;
  text-shadow: rgb(232, 220, 0) 1px 0 10px;
}

.front-text p, .middle-text {
  text-align: center;
  font-size: 1.8em;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

@media only screen and (min-width: 1075px) {
.front-text p {
  float: left;
  padding: 40px;
}
}

#my-face {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  border-radius: 25px;
}


#darken {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
}

#darken.vertical {
  display: block;
}

.bottom-list-icon, p .bottom-list-icon{
  bottom: 0px;
  padding: 10px 30px 10px;
  margin: 90px 20px 10px;
  background-color: rgb(225, 225, 225);
  color: black;
  border-radius: 25px;
}

.button {
  height: 40px;
  padding: 0px 3px 0px;
}